body {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
}

.left {
  flex: 75%;
}

.right {
  flex: 25%;
}

.unmodified {
  background-color: white;
}

.deleted {
  background-color: red;
}

.added {
  background-color: yellow;
}

.edited {
  background-color: orange;
}

.saved {
  background-color: green;
}

[ng-cloak] {
  display: none !important;
}
